In [7]:
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4], [5, 6]], columns=['col1', 'col2'], index=['row1', 'row2', 'row3'])
df

      col1  col2
row1     1     2
row2     3     4
row3     5     6

Selecionar coluna:

In [2]:
df.col1

row1    1
row2    3
row3    5
Name: col1, dtype: int64

Selecionar linha:

In [4]:
df.loc['row1']

col1    1
col2    2
Name: row1, dtype: int64

In [10]:
print(df.iloc[2]) #índice

col1    1
col2    2
Name: row1, dtype: int64
col1    5
col2    6
Name: row3, dtype: int64

Selecionando a célula 1x2:

In [18]:
df.loc['row1']['col2']

2

In [19]:
df.loc['row1'][1]

2

In [20]:
df.col2['row1']

2

In [21]:
df.col2[0]

2

In [22]:
df.iloc[0][1] #Usando iloc se consegue a mesma indexação de matrizes apenas que começando em zero

2