In [1]:
import pandas as pd
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]], columns=['max_speed', 'aceleration'], index=['Fusca', 'Ferrari 911', 'Fórmula 1'])
df

             max_speed  aceleration
Fusca                1            2
Ferrari 911          4            5
Fórmula 1            7            8

Retorno de linha:

In [5]:
df.loc['Ferrari 911']
#df.loc['Ferrari 911']['max_speed'] retorna 4 já

max_speed      4
aceleration    5
Name: Ferrari 911, dtype: int64

Retorno de outro df:

In [7]:
df.loc[['Ferrari 911', 'Fórmula 1']]

             max_speed  aceleration
Ferrari 911          4            5
Fórmula 1            7            8

In [8]:
df.loc[df.max_speed>3]

             max_speed  aceleration
Ferrari 911          4            5
Fórmula 1            7            8

De Outro df filtrando as colunas:

In [9]:
df.loc['Fusca':'Fórmula 1', 'max_speed']

Fusca          1
Ferrari 911    4
Fórmula 1      7
Name: max_speed, dtype: int64

In [10]:
df.loc[df['aceleration'] > 6, ['max_speed']]

           max_speed
Fórmula 1          7

In [14]:
df.loc[lambda df: df['aceleration'] == 8]

           max_speed  aceleration
Fórmula 1          7            8

In [16]:
df.loc[['Fusca', 'Fórmula 1'], ['aceleration']] = 15
df

             max_speed  aceleration
Fusca                1           15
Ferrari 911          4            5
Fórmula 1            7           15